<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome</h1>
    <form action="/" method="POST">
        <input type="text" name="search" id="">
    </form>


    <img src=<%= response.image %> />
    <!-- <h1><%= response.image %></h1> -->
    <h1><%= response.description %></h1>
    <h1><%= response.price %></h1>

    <!-- <script>
        windows.onload = () => {

        }
        document.querySelector('img').src = response.image
        console.log(response.image)
    </script> -->
</body>
</html>